

/*IDS*/
#footer-bar{
  display: flex;
  justify-content: space-around;
}
#grabbable {
  border     : solid black 1px;
  text-align : center;
  cursor     : move;
  padding    : 10px;
}
#draggable {
  z-index: 9999;
}



/*CLASSES*/
.footer-bar-box{
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-button{
  border: solid black 1px;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
}
